.thumbnail {
    height: auto;
    width: 200px;
    border: solid 2px black;
}

.logo {
    width: 250px;
}

.active a.page-link {
    color: white;
    background-color: rgb(255, 193, 7);
    border-color: #dc3545 ;
}

.active a.page-link-link:hover {
    color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.fontSize {
    font-size: 1.5rem !important;
}

@font-face{
    font-family: "Bangers-Regular";
    src: url("fonts/Bangers-Regular.ttf");
}

.myFont {
    font-family: "Bangers-Regular",Arial, Helvetica, sans-serif;
}

.bg-gradient {
    background-color: #dc3545;
    background-image: linear-gradient(315deg, #dc3545 20%, #d98324 90%); 
}

.sizeCard {
    width: 75% !important;
}

@media only screen and (min-width: 992px) {

    .logo {
        width: 150px;
    }

    .fontSize {
        font-size: 1.25rem !important;
    }

    .sizeCard {
        width: 50% !important;
    }
}
